.jumbotron{
    background-color: mediumspringgreen;
}

.fooster{
    padding: 10px 10px 10px 10px;
    background-color: greenyellow;
    margin-bottom: 5px;
    margin-top: 15px;
}

.card-colum{
    background-color: lightgrey;
    margin: 5px 10px 5px 5px;
}
.card-hotel{
    flex: 1 250px;
    padding: 10px 5px 2px 5px;
    margin-top: 15px;
}
